In [11]:
#import libraries


import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

#to remove the warnings
import warnings
warnings.filterwarnings('ignore')

#read the csv file 

data = pd.read_csv("/home/flippercode/Documents/machine-learning/Datasets/credit_data.csv")
data.head()


#as per our dataset we can identify the particular person is fit or not

#height = data.height
#print(height)

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0
1         2  34415.153966  48.117153  6564.745018  0.190752        0
2         3  57317.170063  63.108049  8020.953296  0.139940        0
3         4  42709.534201  45.751972  6103.642260  0.142911        0
4         5  66952.688845  18.584336  8770.099235  0.130989        1

In [12]:
#create a feature data and Target data
data.features = data[["income","age","loan"]]
data.target = data.default


#testing of data
feature_train, feature_test, target_train, target_test = train_test_split(data.features,data.target, test_size=0.3)

#Create a Naive Baiyes Classifications model

model = GaussianNB() 

#fit the model
fittedModel = model.fit(feature_train, target_train)
predictions = fittedModel.predict(feature_test)


print(confusion_matrix(target_test, predictions))
print('Model Accuracy is: ',accuracy_score(target_test,predictions) * 100,'%')

#predicted = model.predict([[5000,20,35000]])
#([[income,age,loan]])
#print("Your predicteted output:", predicted)

[[505  10]
 [ 32  53]]
Model Accuracy is:  93.0 %