In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


creditData = pd.read_csv("/home/flippercode/Documents/machine-learning/Datasets/credit_data.csv")
creditData.head()

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0
1         2  34415.153966  48.117153  6564.745018  0.190752        0
2         3  57317.170063  63.108049  8020.953296  0.139940        0
3         4  42709.534201  45.751972  6103.642260  0.142911        0
4         5  66952.688845  18.584336  8770.099235  0.130989        1

In [26]:
creditData.head()
print(creditData.describe())
print(creditData.corr())

features = creditData[["income","age","loan"]]
target = creditData.default

feature_train, feature_test, target_train, target_test = train_test_split(features,target, test_size=0.3)

model = LogisticRegression()
model.fit = model.fit(feature_train, target_train)
predictions = model.fit.predict(feature_test)

print(confusion_matrix(target_test, predictions))
print(accuracy_score(target_test,predictions))

          clientid        income          age          loan          LTI  \
count  2000.000000   2000.000000  2000.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.927143   4444.369695     0.098403
std     577.494589  14326.327119    13.262450   3045.410024     0.057620
min       1.000000  20014.489470    18.055189      1.377630     0.000049
25%     500.750000  32796.459717    29.062492   1939.708847     0.047903
50%    1000.500000  45789.117313    41.382673   3974.719419     0.099437
75%    1500.250000  57791.281668    52.596993   6432.410625     0.147585
max    2000.000000  69995.685578    63.971796  13766.051239     0.199938

           default
count  2000.000000
mean      0.141500
std       0.348624
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
          clientid    income       age      loan       LTI   default
clientid  1.000000  0.039280 -0.030341  0.018931  0.002538 -0.020145
income    0.039280  1.000000 -0.034984  0.441117 -0.019862  0.002284
age      -0.030341 -0.034984  1.000000  0.006561  0.021588 -0.444765
loan      0.018931  0.441117  0.006561  1.000000  0.847495  0.377160
LTI       0.002538 -0.019862  0.021588  0.847495  1.000000  0.433261
default  -0.020145  0.002284 -0.444765  0.377160  0.433261  1.000000
[[509   8]
 [ 49  34]]
0.905